<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		<title>重磅好书六一欢乐促  献礼永远的大儿童-网易云阅读</title>
	<script>
		window.NRUM = window.NRUM || {};
		window.NRUM.config = {
			key:'53fa12b467d44331b18ea9317ddaf893',
			clientStart: +new Date()
		};
		(function() {
			var n = document.getElementsByTagName('script')[0],
				s = document.createElement('script');
			s.async = 'async';
			s.src = 'https://apmsdk.nosdn.127.net/napm-web-min-1.1.1.js';
			n.parentNode.insertBefore(s, n);
		})();
	</script>
		<meta name="keywords" content="">
<meta name="description" content="">		<meta property="wb:webmaster" content="99a9fd7eb2177775" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta name="format-detection" content="telephone=no"/>
		<link rel="shortcut icon" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon.ico?a7500236" />
			<!-- Standard iPhone -->
			<link rel="apple-touch-icon-precomposed" sizes="57x57" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png?f7795b93" />
			<!-- Retina iPhone -->
			<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png?f7795b93" />
			<!-- Standard iPad -->
			<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png?e92f9e07" />
			<!-- Retina iPad -->
			<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png?e92f9e07" />
			<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_base.css?c1de2aed"/>
<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/static/gen/gen_8ad105f2842ecc341eb4c410c76fa9a2.css?8142de01" />
	
	</head>
	<body>
		<div style="display:none;">
			<span>classa-yuedu42.server.163.org</span>
			<span>223.255.127.151</span>
			<input id="j-csrf" type="hidden" value="94d79a4e066300201bf73a01af99e226" />
		</div>

		<div class="g-wrap m-subject g-wrap-1" >
		<section class="m-banner">			
				<img src="https://easyreadfs.nosdn.127.net/4Ior92rF220NenUNkqYcNA==/8796093023372242576" onload="_gaq.push(['_trackEvent', 'subject_book', 'show', '833042ae69d4403d805b1637c51bdca3'])">
		</section>
		<section class="m-introduction">
			<p class="content j-intro">假如你仍童心未泯,快来一起加入狂欢！重磅好书六一欢乐促，献礼永远的大儿童。</p>
			<p class="showmore j-more">展开<i class=""></i></p>
		</section>
		<section class="m-booklist"></section>
		<p class="m-addmore m-addmore-2" id="J_AddMore" style="display:none;">加载中<i class="one"></i><i class="two"></i><i class="three"></i></p>
		<section class="m-bestcomment"></section>
		<div class="m-tool f-cb">
			<div class="share j-share"><i></i>2</div>
			<a class="comment" href="/sns/comment/all.do?type=3&id=833042ae69d4403d805b1637c51bdca3"><i></i></a>
		</div>
		<div class="m-mask" style="display: none;"></div>
		<div class="sharedialog"></div>
		</div>



<script type="text/javascript" src="//yuedust.yuedu.126.net/static/gen/gen_c7231f7ae09d1f11d47a28a48a7df87c.js?8b20eb7d"></script>

<script>
	var subjectConfig = {
		curUrl : "http://yuedu.163.com/book/subject/833042ae69d4403d805b1637c51bdca3",
		imgUrl : "https://easyreadfs.nosdn.127.net/4Ior92rF220NenUNkqYcNA==/8796093023372242576",
		title  : "重磅好书六一欢乐促  献礼永远的大儿童_网易云阅读#这个书单有意思#",
		content: "假如你仍童心未泯,快来一起加入狂欢！重磅好书六一欢乐促，献礼永远的大儿童。_网易云阅读#这个书单有意思#",
		pulldownRefreshUrl:"/subject/833042ae69d4403d805b1637c51bdca3/data.json",
		commentUrl : "/sns/comment/get.json?type=3&id=833042ae69d4403d805b1637c51bdca3&isBest=true&count=3"
	}
	window.shareData = {
		"imgUrl": subjectConfig.imgUrl,
		"tImgUrl": subjectConfig.imgUrl,
		"fImgUrl": subjectConfig.imgUrl,
		"wImgUrl": subjectConfig.imgUrl,
		"timeLineLink": subjectConfig.curUrl,
		"sendFriendLink": subjectConfig.curUrl,
		"weiboLink": subjectConfig.curUrl,
		"tTitle": subjectConfig.title,
		"tContent": subjectConfig.content,
		"fTitle": subjectConfig.title,
		"fContent": subjectConfig.content,
		"wContent": subjectConfig.content,
		"url": subjectConfig.curUrl,
		"title":subjectConfig.title,
		"activityId":"arrival2015",
		"summary":subjectConfig.content,
		"shareImg":subjectConfig.imgUrl,
		"topicId":"833042ae69d4403d805b1637c51bdca3"
	}
</script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/static/gen/gen_1d5a6811ae60a658f1a49c541a2dd13f.js?91c85b27"></script>
<script>
	template.helper('escapeWithoutBr', function (str) {
		typeof str === 'string'
            ? str.replace(/&(?![\w#]+;)|[<>"']/g, function (s) {
                return {
                    "<": "&#60;",
                    ">": "&#62;",
                    '"': "&#34;",
                    "'": "&#39;",
                    "&": "&#38;"
                }[s];
            })
            : str;
		var result = str.replace(/\n/g, ' ').replace(/\t/g, ' ')
		return result;
	})
	
</script>
<script id="j-template" type="text/html">
<% for(var i = 0, length = list.length; i < length; i++){ %>
	<div class="book<% if(i==list.length-1) { %> last<% } %>">
		<a data-link="/source/<%=list[i].sourceUuid%>" data-schemalurl="neteasereaderuri://type=2&entryid=<%=list[i].sourceUuid%>">
			<div class="f-cb up">
				<img class="cover" src="<%=list[i].coverImage%>">
				<div class="night-mask"></div>
				<h3 class="title"><%=list[i].title%></h3>
				<p class="info"><%=list[i].author%><% if(list[i].category != "") { %>/<%=list[i].category%><% } %>/<span class="num"><%=list[i].stringReadCount%></span>人阅读</p>
				<p class="desc">简介:<% if(list[i].description) { %><%== escapeWithoutBr(list[i].description) %></p><% } %>				
			</div>
			<% if(list[i].editorRecommend) { %>
				<div class="down">
					<p>主编推荐：“<%=list[i].editorRecommend%>”</p>
				</div>
			<% } %>
		</a>
	</div>
<% } %>
</script>

<script id="j-template-comment" type="text/html">
	<% if (hasChild) { %>
	<h3>精彩评论</h3>
	<ul class="">
		<% for(var i = 0, length = list.length; i < length; i++){ %>
		<li class="item f-cb<% if(i==list.length-1) { %> last<% } %>">
			<a href="/sns/comment/all.do?type=3&id=833042ae69d4403d805b1637c51bdca3">
				<img src="<%=list[i].avatar%>" class="headimg">
				<div class="night-headimg"></div>
				<p class="">
					<span class="uname"><%=list[i].username%></span>
					<span class="praise"><% if(list[i].likes != 0) { %><%=list[i].likes%><% } %><i></i></span>
				</p>
				<p class="time"><%=list[i].posttime%></p>
				<p class="desc"><%=list[i].text%></p>
			</a>
		</li>
		<% } %>
	</ul>
	<a class="commentbtn" href="/sns/comment/all.do?type=3&id=833042ae69d4403d805b1637c51bdca3">更多精彩评论&gt;</a>
	<% } %>
</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-48676860-1'],['_setLocalGifPath', '/UA-48676860-1/__utm.gif'],['_setLocalServerMode']);
		_gaq.push(['_addOrganic','baidu','word']);
		_gaq.push(['_addOrganic','soso','w']);
		_gaq.push(['_addOrganic','youdao','q']);
		_gaq.push(['_addOrganic','sogou','query']);
		_gaq.push(['_addOrganic','so.360.cn','q']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);
		setTimeout(function() {
			var ga = document.createElement('script');
				ga.type = 'text/javascript'; 
				ga.async = true;
				ga.src = '/ga.js';
			var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
		}, 1000);
	</script>
	<script>
	    (function(i,s,ob,g,r,a,m)  
	    {  
	        i['AnalyticsObject']=r;   

	        i[r] = i[r] || function()  
	        {  
	            (i[r].ops = i[r].ops || []).push(arguments);  
	        }  
	          
	        a = s.createElement(ob);  
	        a.type = "text/javascript";  
	        m = s.getElementsByTagName(ob)[0];  
	        a.async=false; // 1 asynchronous  
	        a.src=g;  
	        m.parentNode.insertBefore(a,m);  
	    })(window, document, 'script', '//rev.da.netease.com/da.js?t='+ parseInt((new Date().getTime())/1000000), '_dapush');  
	    _dapush('create','DA-A888-A990E152BA01'); 
	    _dapush('page_view');
	</script>
	</body>
</html>
