<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		<title>小说排行榜-女生小说畅销榜-网易云阅读</title>
	<script>
		window.NRUM = window.NRUM || {};
		window.NRUM.config = {
			key:'53fa12b467d44331b18ea9317ddaf893',
			clientStart: +new Date()
		};
		(function() {
			var n = document.getElementsByTagName('script')[0],
				s = document.createElement('script');
			s.async = 'async';
			s.src = 'https://apmsdk.nosdn.127.net/napm-web-min-1.1.1.js';
			n.parentNode.insertBefore(s, n);
		})();
	</script>
		<meta name="keywords" content="热门小说榜，小说排行榜，畅销榜，网易云阅读">
<meta name="description" content="网易云阅读提供经典热门的玄幻小说、言情小说、官场小说、都市小说、穿越小说、网游小说等类型的小说排行榜；小说排行榜上都是受用户欢迎的小说作品">		<meta property="wb:webmaster" content="99a9fd7eb2177775" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta name="format-detection" content="telephone=no"/>
		<link rel="shortcut icon" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon.ico?a7500236" />
			<!-- Standard iPhone -->
			<link rel="apple-touch-icon-precomposed" sizes="57x57" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png?f7795b93" />
			<!-- Retina iPhone -->
			<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png?f7795b93" />
			<!-- Standard iPad -->
			<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png?e92f9e07" />
			<!-- Retina iPad -->
			<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png?e92f9e07" />
			<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_base.css?c1de2aed"/>
		<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_page.css?28e61c86"/>
	
	</head>
	<body>
		<div style="display:none;">
			<span>classa-yuedu42.server.163.org</span>
			<span>223.255.127.151</span>
			<input id="j-csrf" type="hidden" value="94d79a4e066300201bf73a01af99e226" />
		</div>

		<div class="g-wrap " >

	<header class="level2 j-fixedbar">
		<section class="title f-cb">
			<a class="mid" href="javascript:;">女生小说畅销榜</a>
			<a class="left" href="http://m.yuedu.163.com/rank"><span class="ui-leftaw-2"></span></a>
				<a class="right" href="/index" >首页</a>
				<a class="left-search" href="/search/form.do" ><span class="ui-search"></span></a>
		</section>
	</header>
		
		

	<nav class="rank-menu f-cb">
		<a href="/rank/original/list.do?gender=female&type=sell&sortType=day" >日榜</a>
		<a class="crt" href="/rank/original/list.do?gender=female&type=sell&sortType=week" >周榜</a>
		<a href="/rank/original/list.do?gender=female&type=sell&sortType=month" >月榜</a>
	</nav>
		
		<div class="g-bd">
			<section class="m-list-box j-empty-hide">
				<div id="J_TableContainer">
				</div>
			</section>
			<p class="m-addmore m-addmore-2" id="J_AddMore" style="display:none;">加载中<i class="one"></i><i class="two"></i><i class="three"></i></p>
			<div class="m-empty j-empty-show" style="display:none;"></div>
			<p class="m-empty-txt j-empty-show" style="display:none;">暂时没有相关内容</p>
		</div>
		</div>

			<footer>
				<nav class="channel">
					<a href="/yc">男生</a>
					<a href="/ycmm">女生</a>
					<a href="/book">出版</a>
					<a href="/help/about.do">客服</a>
					<a href="/help/weixin.do">微信</a>
				</nav>
				<nav>
					<a href="/client">客户端</a>
					<a href="/help">帮助</a>
					<a href="https://fankui.163.com/ft/comment.fb?pid=11001">反馈</a>
					<a href="/" class="cur">触屏版</a>
					<a href="https://yuedu.163.com/index">电脑版</a>
				</nav>
				<div class="m-right"><p>网易公司版权所有©1997-2017</p></div>
			</footer>


<script type="text/javascript" src="//yuedust.yuedu.126.net/static/gen/gen_c7231f7ae09d1f11d47a28a48a7df87c.js?8b20eb7d"></script>

<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/art-template.js?28014498"></script>
<script id="j-template" type="text/html">
<% for(var i = 0, length = list.length; i < length; i++){ %>
	<div class="common-bookele">
		<a class="wrap f-cb" href="<%=list[i].sourceUrl%>">
			<img class="img" src="<%if(list[i].iconUrl && list[i].iconUrl != ""){%><%=list[i].iconUrl%><%}else{%>https://yuedust.yuedu.126.net/assets/mobile/images/book-icon.jpg<%}%>" alt="<%=list[i].title%>">
			<h3><%=list[i].title%></h3>
			<p><%if(list[i].author && list[i].author != ""){%><% if(list[i].author.length > 10){ %><%= list[i].author.substring(0, 10) %>...<% }else{ %><%= list[i].author %><% } %><%}else{%>佚名 <%}%><%if(list[i].category && list[i].category != ""){%> | <%=list[i].category%><%}%></p>
			<p><%if(list[i].readCount && list[i].readCount != ""){%><%=list[i].readCount%><%}else{%>0<%}%>人阅读<%if(list[i].createBy == 1){%><%if(list[i].bookStatus == 0){%> | 连载中<%}else if(list[i].bookStatus == 1){%> | 已完结<%}%><%}%></p>
			<%if(list[i].description && list[i].description != ""){%><span class="abstract"><%==list[i].description%></span><%}%>												
			<%if(list[i].free4LimitedTime){%>
				<span class="free"></span>
			<%}%>
		</a>
	</div>
<% } %>
</script>
<script>
$(function(){
	var bookKind = 0; //0代表原创书籍，1代表出版书籍
		
	function InfoList(selector){
		this.wraper = $(selector);
		this.container = this.wraper.find('#J_TableContainer');
		this.addMore = this.wraper.find('#J_AddMore');
		this.emptyShow = this.wraper.find('.j-empty-show');
		this.emptyHide = this.wraper.find('.j-empty-hide');
		this.list;
	}

	InfoList.prototype.init = function(){
		var self = this;
		new MB.PulldownRefresh(this.container,{
			url          : '/rank/original/list/data.json?gender=female&sortType=week&type=sell',
			tpl          : 'j-template',
			moreSelector : '#J_AddMore',
			docSelector  : '.g-wrap',
			listKey      : 'books',
			empty        : emptyAction.bind(self)
		});
		function emptyAction() {
			this.emptyShow.show();
			this.emptyHide.hide();
		}
	}

	var infoList = new InfoList('.g-bd');
	infoList.init();
});
</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-48676860-1'],['_setLocalGifPath', '/UA-48676860-1/__utm.gif'],['_setLocalServerMode']);
		_gaq.push(['_addOrganic','baidu','word']);
		_gaq.push(['_addOrganic','soso','w']);
		_gaq.push(['_addOrganic','youdao','q']);
		_gaq.push(['_addOrganic','sogou','query']);
		_gaq.push(['_addOrganic','so.360.cn','q']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);
		setTimeout(function() {
			var ga = document.createElement('script');
				ga.type = 'text/javascript'; 
				ga.async = true;
				ga.src = '/ga.js';
			var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
		}, 1000);
	</script>
	<script>
	    (function(i,s,ob,g,r,a,m)  
	    {  
	        i['AnalyticsObject']=r;   

	        i[r] = i[r] || function()  
	        {  
	            (i[r].ops = i[r].ops || []).push(arguments);  
	        }  
	          
	        a = s.createElement(ob);  
	        a.type = "text/javascript";  
	        m = s.getElementsByTagName(ob)[0];  
	        a.async=false; // 1 asynchronous  
	        a.src=g;  
	        m.parentNode.insertBefore(a,m);  
	    })(window, document, 'script', '//rev.da.netease.com/da.js?t='+ parseInt((new Date().getTime())/1000000), '_dapush');  
	    _dapush('create','DA-A888-A990E152BA01'); 
	    _dapush('page_view');
	</script>
	</body>
</html>

