.ui-blue,
.ui-green,
.ui-grey,
.ui-default,
.ui-red,
.ui-white,
.ui-blue-light,
.ui-disabled {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  padding: 0.225rem 0.45rem;
  font-size: 0.525rem;
  line-height: 0.75rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.125rem;
}
/*=====首页图片(跳转)==start===*/
/*------头部------*/
.title a.mid {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.675rem;
  z-index: 999;
}
.title a.right {
  float: right;
  font-size: 0.525rem;
  padding: 0 0.575rem 0 0.575rem;
  position: relative;
  z-index: 1000;
}
.title a.left-search {
  float: right;
  font-size: 0.525rem;
  position: relative;
  z-index: 1000;
  padding: 0 0.2rem 0 0.575rem;
}
.ui-search {
  display: inline-block;
  margin-bottom: 0.125rem;
  font-size: 0;
  vertical-align: middle;
  width: 0.575rem;
  height: 0.575rem;
  background: url(../img/search.png) 0 0;
  background-size: 100% 100%;
}
/*------书名内容------*/
.m-book-info {
  padding: 0.575rem;
  background: #FFF;
  color: #888;
}
.m-book-info h1 {
  font-size: 0.6rem;
  margin-bottom: 0.2rem;
  color: #1D2C33;
  height: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m-book-info p {
  font-size: 0.5rem;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img {
  float: left;
  position: relative;
  margin-right: 0.375rem;
  line-height: 0;
}
.img img {
  width: 3.5rem;
  height: 4.875rem;
}
/*--星星--*/
.w-star2 {
  display: inline-block;
  height: 0.375rem;
  overflow: hidden;
}
.w-star2 span {
  float: left;
  width: 0.375rem;
  height: 0.375rem;
  overflow: hidden;
  margin-right: 0.175rem;
  background-image: url(../img/star-light.png);
  background-size: 100% 100%;
}
.w-star2 span.no {
  background-image: url(../img/star-dark.png);
  background-size: 100% 100%;
}
/*------书籍内容展示收藏下载------*/
.btns {
  clear: both;
  padding-top: 0.575rem;
  position: relative;
}
.ui-blue {
  width: 47%;
  background-color: #3C98C9;
  border: #3c98c9 solid 0.05rem;
  color: #fff;
}
.ui-blue-light {
  width: 47%;
  background-color: #FFF;
  border: #3b98c9 solid 0.05rem;
  color: #3B98C9;
}
.m-shelf {
  width: 100%;
  border-width: 0.05rem;
  background-color: #faf7f5;
  border: #e8e7e6 solid 0.05rem;
  color: #998C7F;
}
.ui-shelf {
  width: 0.6rem;
  height: 0.65rem;
  display: inline-block;
  background: url(../img/shelf1.png) 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
  margin: 0.075rem 0.175rem 0 0;
}
/*------书籍内容简介------*/
.m-book-detail {
  background: #faf7f5;
  padding: 0.575rem 0.575rem 0.75rem;
  border-top: 0.05rem solid #e8e7e6;
}
.m-book-title {
  color: #1D2C33;
  font-size: 0.7rem;
}
.m-book-detail .content {
  font-size: 0.55rem;
  color: #979999;
  line-height: 0.75rem;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 0.45rem;
}
/*展开*/
.showmore {
  position: relative;
  margin-top: 0.375rem;
  font-size: 0.525rem;
  color: #3998C9;
  padding-right: 0.4rem;
  text-align: right;
}
.showmore i {
  position: absolute;
  top: 0.275rem;
  right: 0;
  width: 0.35rem;
  height: 0.225rem;
  background: url(../img/arrow-down.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
/*------书籍目录------*/
.m-book-directory {
  background: #faf7f5;
  padding: 0.575rem 0.575rem 0.75rem;
  border-top: 0.05rem solid #e8e7e6;
  border-bottom: 0.05rem solid #e8e7e6;
}
li.dis {
  padding-right: 0.525rem;
  position: relative;
}
li.dis i {
  width: 0.4rem;
  height: 0.525rem;
  position: absolute;
  top: 0.125rem;
  right: 0;
  background: url(../img/icon-dispaid.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.caul a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.525rem;
  line-height: 1.7;
  display: block;
  color: #979999;
}
.m-book-title {
  color: #1D2C33;
  font-size: 0.65rem;
}
.m-book-title span {
  color: #ABA49A;
  font-size: 0.45rem;
  font-weight: normal;
}
.sort {
  position: relative;
  margin-top: 0.075rem;
  color: #3A98C9;
  font-size: 0.525rem;
  float: right;
  padding-right: 0.475rem;
  font-weight: normal;
}
.sort i {
  position: absolute;
  top: 0.125rem;
  right: 0;
  width: 0.35rem;
  height: 0.375rem;
  background: url(../img/arrow-up.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.catalist {
  position: relative;
  padding-top: 0.45rem;
}
.more1 {
  display: block;
  margin-top: 0.525rem;
  height: 1.1rem;
  line-height: 1.025rem;
  background-color: #faf7f5;
  color: #998D7F;
  text-align: center;
  border: 0.05rem solid #e4e0dd;
  border-radius: 0.125rem;
}
.more1 span {
  vertical-align: middle;
}
.more1 i {
  width: 0.225rem;
  height: 0.35rem;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.125rem;
  background: url(../img/arrow-right.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
/*------精彩评论------*/
.m-book-comment {
  background: #faf7f5;
  padding: 0.575rem;
}
.comment {
  float: right;
  font-weight: normal;
}
.comment i {
  margin-top: 0.05rem;
  width: 0.45rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/replay.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.comment span {
  display: inline-block;
  padding-left: 0.175rem;
  vertical-align: middle;
  color: #3A98C9;
  font-size: 0.55rem;
}
/*内容*/
.m-book-comment li {
  position: relative;
  padding: 0.55rem 0;
  margin: 0 0.55rem;
  border-bottom: 0.05rem dotted #b3aeaa;
}
.m-book-comment li.item {
  margin: 0;
}
.m-book-comment li.last {
  border-bottom: 0;
}
.headimg {
  width: 1.275rem;
  height: 1.275rem;
  float: left;
  margin-right: 0.55rem;
  border-radius: 50%;
}
/*列表*/
.user {
  height: 0.55rem;
}
.uname {
  color: #6392C5;
  font-size: 0.55rem;
}
.time {
  position: absolute;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  right: 0;
  top: 0.525rem;
  font-size: 0.45rem;
  color: #999;
}
.star {
  padding-top: 0.275rem;
}
.star span {
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  background: url(../img/star-light.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.desc {
  padding-left: 1.85rem;
  padding-top: 0.375rem;
  line-height: 0.625rem;
  font-size: 0.55rem;
  color: #545454;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
/*点赞*/
.opts {
  margin-top: 0.375rem;
  height: 0.575rem;
  padding-left: 1.85rem;
  line-height: 0.75rem;
}
.praise {
  float: right;
  font-size: 0.45rem;
  color: #999;
  height: 0.575rem;
}
.praise i {
  display: block;
  float: left;
  width: 0.575rem;
  height: 0.575rem;
  background: url(../img/praise.png);
  background-size: 100% 100%;
}
.likes {
  float: left;
  line-height: 0.75rem;
  width: 0.9rem;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
/*------你可能还喜欢------*/
.m-book-likemore {
  background: #faf7f5;
  padding: 0.575rem 0.575rem 0.75rem;
  border-top: 0.05rem solid #e8e7e6;
}
.m-book-title {
  color: #1D2C33;
  font-size: 0.65rem;
  margin-bottom: 0.4rem;
}
/*=====首页图片(跳转)==end===*/
