<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>网易云阅读-海量免费小说、图书，免费畅读</title>
<meta name="keywords" content="小说，免费小说，热门小说，言情小说，官场小说，图书，网易，阅读，网易云阅读">
<meta name="description" content="网易云阅读提供丰富的原创小说、畅销好书、热门新闻和文章免费在线阅读和下载。包括文学、传记、艺术、经济管理，官场小说、都市小说、言情小说，热血漫画，旅游、电影杂志等。手机上支持Android、iPhone、iPad、Android Pad、Windows Phone、Windows8等多平台免费下载！">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="baidu-site-verification" content="pGECqLtpvX" />
<script type="text/javascript">
    var matchRule = 'fromtag=iphoneapp';
    var searchArr = location.search.substr(1).split('&');
    for (var i=0;i<searchArr.length;i++) {
        if (searchArr[i] == matchRule) {
            var metaEl = document.createElement('meta')
            metaEl.name='apple-itunes-app'
            metaEl.content = 'app-id=462186890';
            document.head.appendChild(metaEl)
        }
    }
    </script>
<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_base.css?20170603180345"/>
<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/lib/Swiper3/css/swiper-3.3.1.min.css?20170603180345">
<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_index_v2.7.css?20170603180345"/>
<link rel="shortcut icon" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon.ico" />
<!-- Standard iPhone -->  
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png" />  
<!-- Retina iPhone -->  
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png" />  
<!-- Standard iPad -->  
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png" />  
<!-- Retina iPad -->  
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png" /> 
</head>
<body>
    <div class="g-wrap">
      <header class="level1">
        <section class="f-cb">
            <h1 class="logo"></h1>
            <a href="/client" class="download J_downloadbtn" onclick="_gaq.push(['_trackEvent', 'home', 'navi','client'])">下载APP</a>
            <div class="f-cb f-fr">
            	<a href="/search/form.do"  class="search f-fl" onclick="_gaq.push(['_trackEvent', 'home', 'navi','search'])">搜索</a>
            	<i class="sep f-fl"></i>
            	<a href="/myinfo.do" class="account f-fl" onclick="_gaq.push(['_trackEvent','home', 'navi', 'account'])">帐户</a>    
            </div>
        </section>
        <ul class="menu f-cb">
        	<li>
            	<a  href="/yc" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'man'])">男频</a>
            </li>
            <li>
            	<a href="/ycmm" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'woman'])">女频</a>
            </li>
            <li>
            	<a  href="/book" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'publish'])">出版</a>
            </li>
            <li>
            	<a  href="/category" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'bookstore'])">分类</a>
            </li>
            <li>
            	<a href="/free" onclick="_gaq.push(['_trackEvent','home', 'tab', 'freechanel'])">免费</a>
            </li>
            <li>
            	<a  href="/taste" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'taste'])">口味</a>
            </li>
            <li>
            	<a  href="/rank" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'ranking'])">排行</a>
            </li>
            <li>
            	<a href="/recharge/form.do" class="recharge" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'recharge'])">充值</a>
            </li>           
        </ul>
    </header>
<!--
<header class="level1">
            <section class="f-cb">
                <h1 class="logo"></h1>
                <ul class="f-cb">
                <li class="sj"><a href="/shelf/read.do" onclick="_gaq.push(['_trackEvent', 'home', 'navi', 'bookshelf'])">书架</a></li>
                <li class="zh"><a href="/myinfo.do" onclick="_gaq.push(['_trackEvent', 'home', 'navi', 'account'])">帐户</a></li>
                <li class="dh"><a href="/client" onclick="_gaq.push(['_trackEvent', 'home', 'navi', 'client'])">客户端</a></li>
                </ul>
            </section>
            <nav class="menu f-cb">
                <a href="/yc" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'man'])">男频</a>
                <a href="/ycmm" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'woman'])">女频</a>
                <a href="/book" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'publish'])">出版</a>
                <a href="/category" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'bookstore'])">分类</a>
                <b></b>
            </nav>
        </header>
        <section class="m-search">
            <form id="J_Form" action="/search/book.do" method="get">
                <div class="search-input">
                    <div class="inner f-cb">    
                        <input name="key" id="search-input" autocomplete="off" placeholder="搜索数十万好书">
                        <button>搜索<i></i></button>
                        <a class="delete" href="/"></a>
                    </div>
                </div>
            </form>
        </section>-->
 <section class="m-list-box">
            <h3 class="f-cb">
                <div class="f-fl"><em class="sep"></em><span class="gradient">女生排行榜</span></div>
                <a href="/rank/original/list.do?gender=female&type=sell&sortType=week" class="more j-gap" data-category="rankchannel" data-action="womancx_more_click"  data-label="more" >更多<em class="m-arrow"></em></a>
            </h3> 
 </ul>  
 <ul class="m-rank-list f-cb" id="J_sellrank_woman">
 </ul>  
</section>
 <section class="m-list-box">
            <h3 class="f-cb">
                <div class="f-fl"><em class="sep"></em><span class="gradient">男生排行榜</span></div>
                <a href="/rank/original/list.do?gender=male&type=sell&sortType=week" class="more j-gap" data-category="rankchannel" data-action="mancx_more_click"   data-label="more" >更多<em class="m-arrow"></em></a>
            </h3> 
 <ul class="m-rank-list f-cb" id="J_sellrank_man">
</section>
 <section class="m-list-box">
            <h3 class="f-cb">
                <div class="f-fl"><em class="sep"></em><span class="gradient">图书排行榜</span></div>
                <a href="/rank/publish/list.do?type=sell&sortType=week" class="more j-gap" data-category="rankchannel" data-action="publishcx_more_click"  data-label="more" >更多<em class="m-arrow"></em></a>
            </h3> 
 <ul class="m-rank-list f-cb" id="J_sellrank_publish">
 </ul>  
 </section>
        
<div class="m-bottom-wrap">
            <section class="m-search m-search-bottom">
                <form id="J_Form_bottom" action="/search/book.do" method="get">
                <div class="search-input">
                    <div class="inner f-cb">  
                        <input name="key" id="search-input-bottom" autocomplete="off" placeholder="搜索资讯源、书籍、杂志">
                        <button>搜索</button> 
                        <a class="delete" href="/"></a>
                    </div>
                </div>
                </form>
            </section>
            <div class="ui-line"></div>
            <div class="m-down-btn">
                <a href="/download" class="ui-red-light">下载网易云阅读客户端</a>
            </div>
<!--
            <iframe style="width:100%;height:168px;" src="https://g.163.com/r?site=netease&affiliate=yuedu&cat=footer&type=pic710x224_yuedu&location=1" scrolling="no" frameborder="0" allowtransparency=""></iframe>-->
        </div>
</div>
<footer>
    <nav>
        <a href="/client">客户端</a>
        <a href="/help">帮助</a>
        <a href="https://fankui.163.com/ft/comment.fb?pid=11001">反馈</a>
        <a href="/" class="cur">触屏版</a>
        <a href="https://yuedu.163.com/index">电脑版</a>
    </nav>
    <div class="m-right"><p>网易公司版权所有&#169;1997-<span id="J_Copyright"></span></p></div>
</footer>
<script type="text/javascript">
    var now = new Date();
    var year= now.getFullYear();
    document.getElementById('J_Copyright').innerText = year;
</script>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-48676860-1'],['_setLocalGifPath', '/UA-48676860-1/__utm.gif'],['_setLocalRemoteServerMode']);
    _gaq.push(['_addOrganic','baidu','word']);
    _gaq.push(['_addOrganic','soso','w']);
    _gaq.push(['_addOrganic','youdao','q']);
    _gaq.push(['_addOrganic','sogou','query']);
    _gaq.push(['_addOrganic','so.360.cn','q']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = 'https://wr.da.netease.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
</script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/zepto.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/utils.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/mobi-new.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/search.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/art-template.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/common/menu-control.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/index.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/download-tip.js?20170603180345"></script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/assets/mobile/js/common/hideclientbtn.js?20170603180345"></script>
<script>
    template.helper('$filterP', function (content) {
        return content
        .replace(/\<p\>/ig, '')
        .replace(/\<\/p\>/ig, '');
    });
</script>
<script id="j-template" type="text/html">
       <li class="top1">
            <a href="<%=data.books[0].sourceUrl %>" data-category="rankchannel" data-action="<%=data.type %>cx_click"  data-label="1"  class="j-gap" title="<%=data.books[0].title %>">
               <em >1</em>
               <img src="<%=data.books[0].iconUrl %>?imageView&thumbnail=200y284" srcset="<%=data.books[0].iconUrl%>?imageView&thumbnail=200y284 2x, <%=data.books[0].iconUrl%>?imageView&thumbnail=300y426 3x" alt="<%=data.books[0].title %>">
               <h3><%=data.books[0].title %></h3>
               <p>清平小调/都市言情</p>                    
               <p><%=$filterP(data.books[0].description) %></p>
            </a>
       </li>
     <% var length = (data.books.length < 5) ? data.books.length : 5; %>
     <% for(var i = 1; i < length; i++){ %>
        <li class="top top<%=(i+1)%>">
            <a href="<%=data.books[i].sourceUrl %>" data-category="rankchannel" data-action="<%=data.type %>cx_click"  data-label="<%=(i+1)%>"   class="j-gap info">
               <em><%=(i+1)%></em>
               <span><%=data.books[i].title %> </span>                
            </a>
       </li>                
     <% } %>
</script> 
<script>
var WM = new WapManager();
var MM = new MenuManager();
MM.menuInit('rank');
WM.sellRank('man','week');
WM.sellRank('woman','week');
WM.sellRank('publish','week');
//WM.initSwiper('man');
 
</script>
</body>
</html>