<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		<title>阅读口味-网易云阅读</title>
	<script>
		window.NRUM = window.NRUM || {};
		window.NRUM.config = {
			key:'53fa12b467d44331b18ea9317ddaf893',
			clientStart: +new Date()
		};
		(function() {
			var n = document.getElementsByTagName('script')[0],
				s = document.createElement('script');
			s.async = 'async';
			s.src = 'https://apmsdk.nosdn.127.net/napm-web-min-1.1.1.js';
			n.parentNode.insertBefore(s, n);
		})();
	</script>
		<meta name="keywords" content="图书、免费、小说、热门小说，免费小说，全本小说，小说排行榜，玄幻小说、官场小说、都市小说、言情小说，小说下载，在线阅读，手机阅读，网易云阅读">
<meta name="description" content="最好最全的在线免费阅读小说网站。提供官场小说，言情小说，玄幻小说、都市小说、历史小说、军事小说、网游小说、免费小说等在线阅读，支持手机阅读">		<meta property="wb:webmaster" content="99a9fd7eb2177775" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta name="format-detection" content="telephone=no"/>
		<link rel="shortcut icon" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon.ico?a7500236" />
			<!-- Standard iPhone -->
			<link rel="apple-touch-icon-precomposed" sizes="57x57" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png?f7795b93" />
			<!-- Retina iPhone -->
			<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114.png?f7795b93" />
			<!-- Standard iPad -->
			<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png?e92f9e07" />
			<!-- Retina iPad -->
			<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144.png?e92f9e07" />
			<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_base.css?c1de2aed"/>
        <link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_taste.css?873f0007"/>
	
	</head>
	<body>
		<div style="display:none;">
			<span>classa-yuedu45.server.163.org</span>
			<span>223.255.127.147</span>
			<input id="j-csrf" type="hidden" value="8ddd9414497e8533a990afaee7a1f3f1" />
		</div>

		<div class="g-wrap " >

	<header class="level1">
        <section class="f-cb">
            <h1 class="logo"></h1>
            <a href="/client" class="download J_downloadbtn" onclick="_gaq.push(['_trackEvent', 'home', 'navi','client'])">下载APP</a>
            <div class="f-cb f-fr">
            	<a href="/search/form.do"  class="search f-fl" onclick="_gaq.push(['_trackEvent', 'home', 'navi','search'])">搜索</a>
            	<i class="sep f-fl"></i>
            	<a href="/myinfo.do" class="account f-fl" onclick="_gaq.push(['_trackEvent', 'home', 'navi', 'account'])">帐户</a>
            </div>
        </section>
        <ul class="menu f-cb">
        	<li>
            	<a  href="/yc" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'man'])">男频</a>
            </li>
            <li>
            	<a  href="/ycmm" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'woman'])">女频</a>
            </li>
            <li>
            	<a  href="/book" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'publish'])">出版</a>
            </li>
            <li>
            	<a  href="/category" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'bookstore'])">分类</a>
            </li>
            <li>
            	<a  href="/free" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'freechanel'])">免费</a>
            </li>
            <li>
            	<a  href="/taste" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'taste'])">口味</a>
            </li>
            <li>
            	<a  href="/rank" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'ranking'])">排行</a>
            </li>
            <li>
            	<a href="/recharge/form.do" class="recharge" onclick="_gaq.push(['_trackEvent', 'home', 'tab', 'recharge'])">充值</a>
            </li>
        </ul>
    </header>


        <div class="g-bd">
            <div class="m-taste">
                <a class="j-cate" href="/taste/select.do" onclick="_gaq.push(['_trackEvent', 'taste', 'select_click', '1'])"></a>
            </div>
            <div class="m-book-list" id="J_BookList">
            </div>
        </div>
        <input type="hidden" name="isLogin" value="false" />
		</div>

			<footer>
				<nav class="channel">
					<a href="/yc">男生</a>
					<a href="/ycmm">女生</a>
					<a href="/book">出版</a>
					<a href="/help/about.do">客服</a>
					<a href="/help/weixin.do">微信</a>
				</nav>
				<nav>
					<a href="/client">客户端</a>
					<a href="/help">帮助</a>
					<a href="https://fankui.163.com/ft/comment.fb?pid=11001">反馈</a>
					<a href="/" class="cur">触屏版</a>
					<a href="https://yuedu.163.com/index">电脑版</a>
				</nav>
				<div class="m-right"><p>网易公司版权所有©1997-2017</p></div>
			</footer>


<script type="text/javascript" src="//yuedust.yuedu.126.net/static/gen/gen_c7231f7ae09d1f11d47a28a48a7df87c.js?8b20eb7d"></script>

<script id="j-template-books" type="text/html">
    <% for(var i = 0; i < books.length; i++){%>
        <div class="taste-bookele">
            <a class="wrap f-cb" href="/source/<%=books[i].sourceUuid%>" onclick="_gaq.push(['_trackEvent', 'taste', 'book_click', '1'])">
                <img class="bookcover" src="<%=books[i].coverImage%>" alt="<%=books[i].title%>">
                <h3><%=books[i].title%></h3>
                <p><%=books[i].author%>/<%=books[i].category%></p>
                <span class="abstract"><%=$filterP(books[i].description)%></span>
            </a>
        </div>
    <% } %>
</script>
<script id='j-template-cate' type="text/html">
    <span class="m-tip">
        <b class="u-arrow"></b>
    </span>
    <%if (categories.length > 0 ) { %>
        <div class="m-status <%if (categories.length >= 3 ) { %>m-status-full<% } else { %>m-status-middle<% } %>">
            <% var len = (categories.length < 3) ? categories.length : 3 %>
            <% for(var i = 0; i < len; i++){%>
                <span class="u-btn u-btn-grey" href="javascript:;" data-id="<%=categories[i].id%>"><%=categories[i].name%></span>
            <% } %>
            <%if (categories.length < 3 ) { %>
                <span class="label">调整口味</span>
            <% } %>
        </div>
    <% } else { %>
        <p class="m-status m-status-empty"><b class="u-tag"></b>设定阅读基因，为你私人定制</p>
    <% } %>
</script>
<script type="text/javascript" src="//yuedust.yuedu.126.net/static/gen/gen_7bebf0fa52ef3cbdf791c23cd3767c44.js?57d7fccc"></script>
<script type="text/javascript">
    var MM = new MenuManager();
    MM.menuInit('kouwei');
</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-48676860-1'],['_setLocalGifPath', '/UA-48676860-1/__utm.gif'],['_setLocalServerMode']);
		_gaq.push(['_addOrganic','baidu','word']);
		_gaq.push(['_addOrganic','soso','w']);
		_gaq.push(['_addOrganic','youdao','q']);
		_gaq.push(['_addOrganic','sogou','query']);
		_gaq.push(['_addOrganic','so.360.cn','q']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);
		setTimeout(function() {
			var ga = document.createElement('script');
				ga.type = 'text/javascript'; 
				ga.async = true;
				ga.src = '/ga.js';
			var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
		}, 1000);
	</script>
	<script>
	    (function(i,s,ob,g,r,a,m)  
	    {  
	        i['AnalyticsObject']=r;   

	        i[r] = i[r] || function()  
	        {  
	            (i[r].ops = i[r].ops || []).push(arguments);  
	        }  
	          
	        a = s.createElement(ob);  
	        a.type = "text/javascript";  
	        m = s.getElementsByTagName(ob)[0];  
	        a.async=false; // 1 asynchronous  
	        a.src=g;  
	        m.parentNode.insertBefore(a,m);  
	    })(window, document, 'script', '//rev.da.netease.com/da.js?t='+ parseInt((new Date().getTime())/1000000), '_dapush');  
	    _dapush('create','DA-A888-A990E152BA01'); 
	    _dapush('page_view');
	</script>
	</body>
</html>

