<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
		<title>艰难的制造（《欢乐颂》作者阿耐作品）-阿耐-电子书-在线阅读-网易云阅读</title>
	<script>
		window.NRUM = window.NRUM || {};
		window.NRUM.config = {
			key:'53fa12b467d44331b18ea9317ddaf893',
			clientStart: +new Date()
		};
		(function() {
			var n = document.getElementsByTagName('script')[0],
				s = document.createElement('script');
			s.async = 'async';
			s.src = 'https://apmsdk.nosdn.127.net/napm-web-min-1.1.1.js';
			n.parentNode.insertBefore(s, n);
		})();
	</script>
		<meta name="keywords" content="艰难的制造（《欢乐颂》作者阿耐作品），阿耐，现当代文学，现当代文学，在线阅读，电子书,电子版,下载,购买,阅读">
<meta name="description" content="艰难的制造（《欢乐颂》作者阿耐作品），宁炒一座楼，不办一家厂，开厂为啥干不过炒房，做实业的为啥干不过搞金融的？作为立国之本、创造财富的制造业发生了什么？市场的大手，政策的大手，究竟在其中起到什么样的作用？小说以一家中小型机械制造厂切入，以手术解剖的方式娓娓道来秉持实业理想的柳钧和从事金融的好友钱宏明的典型遭遇。无论是山寨模仿、技术剽窃、恶意抢单、黑社会威胁、税务查账、环保穿小鞋还是信用证诈骗、房...">		<meta property="wb:webmaster" content="99a9fd7eb2177775" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta name="format-detection" content="telephone=no"/>
		<link rel="shortcut icon" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon.ico?a7500236" />
					<!-- Standard iPhone -->  
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114-read.png?9f5b078a" />  
		<!-- Retina iPhone -->  
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-114-read.png?9f5b078a" />  
		<!-- Standard iPad -->  
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144-read.png?38c2b709" />  
		<!-- Retina iPad -->  
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//yuedust.yuedu.126.net/assets/mobile/images/favicon/favicon-144-read.png?38c2b709" /> 

			<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/assets/mobile/css/mobi_base.css?c1de2aed"/>
<link type="text/css" rel="stylesheet" href="//yuedust.yuedu.126.net/static/gen/gen_7fe14d4223c8cb4e557e74bcceb9f0f3.css?0aead020" />
	
	</head>
	<body>
		<div style="display:none;">
			<span>classa-yuedu1.server.163.org</span>
			<span>223.255.127.153</span>
			<input id="j-csrf" type="hidden" value="6b49439b568e0d3432c69348977525d9" />
		</div>

		<div class="g-wrap " >

	<header class="level2 j-fixedbar">
		<section class="title f-cb">
			<a class="mid" href="javascript:;">书籍详情</a>
			<a class="left" href="http://m.yuedu.163.com/book?pek=1&amp;from=singlemessage&amp;isappinstalled=1"><span class="ui-leftaw-2"></span></a>
				<a class="right" href="/index" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'topbar','home']);">首页</a>
				<a class="left-search" href="/search/form.do" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'topbar','search']);"><span class="ui-search"></span></a>
		</section>
	</header>
		
		<section class="m-book-info">
			<div class="info">
				<div class="img"><img src="https://easyreadfs.nosdn.127.net/XG22fs002GyPZCulYDka3A==/8796093023347004943">
				</div>
				<h1>艰难的制造（《欢乐颂》作者阿耐作品）</h1>
					<p>作者：阿耐</p>
					<p>分类：现当代文学</p>
					<p>点击：26.2万</p>
							<p>授权方：上海读客图书有限公司</p>
					<p>
						<span class="w-star2">
								<span>&nbsp;</span>
								<span>&nbsp;</span>
								<span>&nbsp;</span>
								<span>&nbsp;</span>
								<span class="no">&nbsp;</span>
						</span>
					</p>
			</div>
				<div class="j-actions" data-sourceuuid="73e6a1e45c714c8a9b49c9278190eed4_4">
					<div class="btns" >						
						<a href="/reader/book/73e6a1e45c714c8a9b49c9278190eed4_4" class="ui-blue two j-log" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'button', 'read'])" data-log="a1-1:detail,click_read,73e6a1e45c714c8a9b49c9278190eed4_4">立即阅读</a>
						<a id="J_Offline" href="javascript:;" class="ui-blue-light two J_openClinet j-log"   onclick="_gaq.push(['_trackEvent', 'bookdetail','button','download'])" data-schemalurl="neteasereaderuri://type=2&entryid=73e6a1e45c714c8a9b49c9278190eed4_4&autodl=1" data-downloadurl="https://yuedu.163.com/download" data-href="/source/73e6a1e45c714c8a9b49c9278190eed4_4" data-log="a1-2:detail,click_download,73e6a1e45c714c8a9b49c9278190eed4_4">下载整本</a>
					</div>
						<div class="btns">
							<a href="javascript:;" class="m-shelf ui-grey j-put-shelf" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'button', 'add2bookshelf'])"><i class="ui-shelf"></i>放入书架</a>
						</div>
				</div>
		</section>
		<section class="m-book-detail j-intro-wrap">
				<h4 class="m-book-title">内容简介</h4>
				<p class="content j-intro">　　宁炒一座楼，不办一家厂，开厂为啥干不过炒房，做实业的为啥干不过搞金融的？作为立国之本、创造财富的制造业发生了什么？市场的大手，政策的大手，究竟在其中起到什么样的作用？<br/>　　<br/>　　小说以一家中小型机械制造厂切入，以手术解剖的方式娓娓道来秉持实业理想的柳钧和从事金融的好友钱宏明的典型遭遇。无论是山寨模仿、技术剽窃、恶意抢单、黑社会威胁、税务查账、环保穿小鞋还是信用证诈骗、房地产投机、民间高利贷、非法集资，从起步到发展过程中大到政策，小到员工管理的九九八十一难一一为你呈现。<br/>　　<br/>　　本书作者阿耐曾为浙江某著名民营制造业高管，几十年经营管理经验，写出来的都是“实打实的真材实料”。自连载以来，引发珠三角、长三角众多制造业老板及金融从业者的广泛共鸣。</p>
		</section>
		<section class="m-book-directory">
			<h4 class="m-book-title">目录<span class="j-cata-length"></span><a class="sort j-squece" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'category', 'order'])">倒序<i></i></a></h4>
			<div class="j-cata catalist">
			</div>
		</section>
		<section class="m-book-comment m-allcomment">
			<h4 class="m-book-title"><i class="j-comment-title">评论</i><span class="j-comment-count"></span><a class="comment j-to-comment" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'comment', 'post'])"><i class="" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'comment', 'post'])"></i><span class="" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'comment', 'post'])">写评论</span></a></h4>
			<ul class="j-more-comment"></ul>			
			<a class="more j-more-comment" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'comment', 'more'])" href="#"><span>更多评论</span><i></i></a>			
		</section>
			<section class="m-book-likemore">
				<h4 class="m-book-title">您可能还喜欢</h4>
				<div class="booklist f-cb">
						<div class="first item">
							<a href="/source/2c12b71e765d449db9476ad925ca403d_4" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'recomment', 'click'])">
								<img src="https://easyreadfs.nosdn.127.net/mbXH7UF6MeIbnlYtJUO8KA==/8796093022621610017"/>
							</a>
							<a href="/source/2c12b71e765d449db9476ad925ca403d_4" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'recomment', 'click'])">
								<h5>欢乐颂全集（同名热播电视剧原著）</h5>
								<p>阿耐</p>
							</a>
						</div>
						<div class="mid item">
							<a href="/source/d678fdccdea148249c561a1987bffeb0_4" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'recomment', 'click'])">
								<img src="https://easyreadfs.nosdn.127.net/62lhko9uyqjik79ctMuKQw==/8796093023061041569"/>
							</a>
							<a href="/source/d678fdccdea148249c561a1987bffeb0_4" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'recomment', 'click'])">
								<h5>不失眠旅馆：心若没有栖息的地方，到哪里都是再流浪</h5>
								<p>韩梅梅</p>
							</a>
						</div>
						<div class="last item">
							<a href="/source/55ddd70688b84f898f2e76e852d5cec0_4" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'recomment', 'click'])">
								<img src="https://easyreadfs.nosdn.127.net/10UK1Od4OTAoJygaSJw00Q==/8796093023189581521"/>
							</a>
							<a href="/source/55ddd70688b84f898f2e76e852d5cec0_4" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'recomment', 'click'])">
								<h5>人间草木</h5>
								<p>汪曾祺</p>
							</a>
						</div>
				</div>
			</section>
		<input id="sourceuuid" type="hidden" value="73e6a1e45c714c8a9b49c9278190eed4_4"/>
		<input id="activityId" type="hidden" value=""/>
		</div>

			<footer>
				<nav class="channel">
					<a href="/yc">男生</a>
					<a href="/ycmm">女生</a>
					<a href="/book">出版</a>
					<a href="/help/about.do">客服</a>
					<a href="/help/weixin.do">微信</a>
				</nav>
				<nav>
					<a href="/client">客户端</a>
					<a href="/help">帮助</a>
					<a href="https://fankui.163.com/ft/comment.fb?pid=11001">反馈</a>
					<a href="/" class="cur">触屏版</a>
					<a href="https://yuedu.163.com/index">电脑版</a>
				</nav>
				<div class="m-right"><p>网易公司版权所有©1997-2017</p></div>
			</footer>

		<div id="J_Alert" class="m-alert j-layer" style="display:none;">
			<div class="info">
				<p id="J_CText">您的帐号因发表不适宜的言论，评论已被禁止。如有任何问题请邮件至reader@188.com反馈给我们。谢谢~</p>
			</div>
			<div class="button">
				<a class="confirm ui-green j-close" href="javascript:;">确定</a>
			</div>
		</div>

<script type="text/javascript" src="//yuedust.yuedu.126.net/static/gen/gen_c7231f7ae09d1f11d47a28a48a7df87c.js?8b20eb7d"></script>

	<script>
		var shareData = {
			"title"     : "艰难的制造（《欢乐颂》作者阿耐作品）",
			"desc"      : "宁炒一座楼，不办一家厂，开厂为啥干不过炒房，做实业的为啥干不过搞金融的？作为立国之本、创造财富的制造业发生了什么？市场的大手，政策的大手，究竟在其中起到什么样的作用？小说以一家中小型机械制造厂切入，...",
			"imgUrl"    : "https://easyreadfs.nosdn.127.net/XG22fs002GyPZCulYDka3A==/8796093023347004943",
			"imgWidth"  : "186",
			"imgheight" : "260",
			"url"       : location.href,
			"wdesc"     : "《艰难的制造（《欢乐颂》作者阿耐作品）》不错，推荐给大家。来自网易云阅读。",
			"tTitle"	: "艰难的制造（《欢乐颂》作者阿耐作品）",
			"tContent"  : "宁炒一座楼，不办一家厂，开厂为啥干不过炒房，做实业的为啥干不过搞金融的？作为立国之本、创造财富的制造业发生了什么？市场的大手，政策的大手，究竟在其中起到什么样的作用？小说以一家中小型机械制造厂切入，...",
			"fTitle"	: "艰难的制造（《欢乐颂》作者阿耐作品）",
			"fContent"  : "宁炒一座楼，不办一家厂，开厂为啥干不过炒房，做实业的为啥干不过搞金融的？作为立国之本、创造财富的制造业发生了什么？市场的大手，政策的大手，究竟在其中起到什么样的作用？小说以一家中小型机械制造厂切入，...",
			"wContent"  : "宁炒一座楼，不办一家厂，开厂为啥干不过炒房，做实业的为啥干不过搞金融的？作为立国之本、创造财富的制造业发生了什么？市场的大手，政策的大手，究竟在其中起到什么样的作用？小说以一家中小型机械制造厂切入，..."
		}

		var scrollToComment = "";
		var commentParam = {
			allCommentUrl  : "/sns/comment/get.json?type=2&id=73e6a1e45c714c8a9b49c9278190eed4_4",
			bestCommentUrl : "/sns/comment/get.json?type=2&id=73e6a1e45c714c8a9b49c9278190eed4_4&isBest=true"
		};
	</script>
	<!-- directory template -->
	<script type="text/template" id="j-template-directory">
		<% if(list.length){ %>
		<ul>
		<% for(var i = 0, length = list.length; i < length; i++){ %>
			<li class="grade_0<%= list[i].grade %> <% if(list[i].needPay && book.bookKind != 1 && !list[i].paid){ %>dis<% } else if (list[i].needPay && book.bookKind != 1 && list[i].paid) { %>haspaid<% } %>">
				<a onclick="_gaq.push(['_trackEvent', 'bookdetail', 'category', 'click'])" href="/reader/book/<%= sourceUuid %>/<%= list[i].secId %>"><% if(list[i].title){ %><%= list[i].title %><% }else{ %>第<%= list[i].page %>页<% } %><i></i></a>
			</li>
		<% } %>
		</ul>
		<% if(totalLength > 5) { %>
		<a class="more" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'category', 'more'])" href="/reader/book/catalog.do?source_uuid=<%= sourceUuid %>"><span>更多目录</span><i></i></a>
		<% } %>
		<% }else{ %>
		<div class="empty">
			<img src="//yuedust.yuedu.126.net/assets/mobile/images/common/empty.png?8a7b4a6a" />
			<p>啊哦，目录出错了</p>
		</div>
		<% } %>
	</script>		<!-- comments template -->
		<script type="text/template" id="j-template-comments">
			<% if(!itemRender){ %>
			<ul>
			<% } %>
			<% if(data.length){ %>
			<% for(var i = 0; i < data.length; i++){ %>
			<li class="j-intro-wrap j-more">
				<p class="info j-more">
					<cite>
						<% if(data[i].username.length>7){ %><%= data[i].username.substring(0, 7) %>...<% }else{ %><%= data[i].username %><% } %>
						<% if(data[i].self){ %><span>（本书作者）</span><% } %>
					</cite>
					<span class="time"><%= data[i].posttime %></span>
				</p>
				<blockquote class="j-intro j-more">
					<% if(data[i].replied){ %>回复 
						<cite><% if(data[i].replied.username.length>7){ %><%= data[i].replied.username.substring(0, 7) %>...<% }else{ %><%= data[i].replied.username %><% } %></cite>
					：<% } %><%= data[i].text %>
				</blockquote>
				<p class="opt j-more">
					<input type="hidden" name="cid" value="<%= data[i].commentId %>" />
					<input type="hidden" name="tipstr" value="<%= data[i].username %>" />
					<% if(data[i].userSelf){ %><a href="javascript:;" class="j-delete-comment">删除</a><% } %>
					<a href="javascript:;" class="j-reply-comment" onclick="_gaq.push(['_trackEvent', 'bookdetail', 'comment', 'post'])">回复</a>
				</p>
			</li>
			<% } %>
			<% }else{ %>
			<li class="empty">
				<img src="//yuedust.yuedu.126.net/assets/mobile/images/common/empty.png?8a7b4a6a" />
				<p>暂无评论，快来抢沙发吧</p>
			</li>
			<% } %>
			<% if(!itemRender){ %>
			</ul>
			<% if(pageQuery.pageCount > 1){ %>
			<section class="ui-pages">
			<a href="javascript:;" class="j-page-turn first <% if(pageQuery.page == 1){ %>no<% } %>" data-index="<% if(pageQuery.page > 1){ %><%= pageQuery.page-1 %><% } %>">上一页</a>
			<div class="ui-select"> 
				<a href="javascript:;" class="idx"><%= pageQuery.page %>/<%= pageQuery.pageCount %><b></b></a>
				<select class="idx">
					<% for(var i = 1; i <= pageQuery.pageCount; i++){ %>
					<option value="<%= i %>" <% if(pageQuery.page == i){ %>selected<% } %>>第<%= i %>页</option>
					<% } %>
				</select>
			</div>
			<a href="javascript:;" class="j-page-turn last <% if(!pageQuery.more){ %>no<% } %>" data-index="<% if(pageQuery.more){ %><%= pageQuery.page+1 %><% } %>">下一页</a>
			</section>
			<% } %>
			<% } %>
		</script>
		
		<script id="j-template-comment" type="text/html">
			<% if(list.length){ %>
				<% for(var i = 0, length = list.length>3?3:list.length; i < length; i++){ %>
				<li class="item j-intro-wrap f-cb<% if((i==length-1) && !isSingle) { %> last<% } %>">
					<input type="hidden" name="cid" value="<%= list[i].commentId %>" />
					<input type="hidden" name="tipstr" value="<%= list[i].username %>" />
					<input type="hidden" name="uid" value="<%= list[i].userId %>" />
					<img src="<%=list[i].avatar%>" class="headimg j-headimg">
					<p class="user">
						<span class="uname j-uname">
						<% if(list[i].username.length>12){ %><%= list[i].username.substring(0, 12) %>...<% }else{ %><%= list[i].username %><% } %>
						</span>
						<span class="time"><%=list[i].posttime%></span>
					</p>		
					<p class="star">
						<% if(!list[i].replied){ %>
							<% for(var j=0; j < list[i].grade; j++){ %>
								<span>&nbsp;</span>
							<% } %>
							<% for(var j=0; j < 5 - list[i].grade; j++){ %>
								<span class="no">&nbsp;</span>
							<% } %>
						<% } %>		
					</p>								
					<p class="desc j-intro" <% if(list[i].replied){ %> style="padding-left:0px"<% } %>>
						<% if(list[i].replied){ %>回复 
							<cite><% if(list[i].replied.username.length>12){ %><%= list[i].replied.username.substring(0, 12) %>...<% }else{ %><%= list[i].replied.username %><% } %></cite>
						：<% } %><%= list[i].text %>
					</p>
					<p class="opt opts f-cb">
						<span class="praise j-praise" data-likes="<%=list[i].likes%>"><i></i><span class="likes"><% if(list[i].likes != 0) { %><%=list[i].likes%><% } %><% else { %> 赞 <% } %></span> </span>			
					</p>				
				</li>
				<% } %>
			<% }else{ %>
				<li class="empty">
					<img src="//yuedust.yuedu.126.net/assets/mobile/images/common/empty.png?8a7b4a6a" />
					<p>暂无评论，快来抢沙发吧</p>
				</li>
			<% } %>
			</script>
		<script type="text/javascript" src="//yuedust.yuedu.126.net/static/gen/gen_2f4a328df8ad1fe96323304eeae74701.js?2ff1b20f"></script>
	
	
	<script>
	$(function(){
		var countDown = function(){
			var cdBox = $('#J_CountDown'), timeBox = $('#J_TimeLeft'), targetTime = $('#J_CountDown').attr('date'),endTime = new Date(targetTime*1),
				myTime,leftTime,days,hours,minutes,seconds,tipText,timeArr;
	
			var format = function(arr){
				for(var i=0; i<arr.length;i++){
					if(arr[i]<10){
						arr[i] = '0' + arr[i];
					}
				}
			}
	
			var ProcessTime = function(){
				myTime 		= new Date();
				leftTime 	= parseInt((endTime - myTime)/1000),
				days 		= parseInt(leftTime/3600/24),
				hours 		= parseInt((leftTime/3600)%24),
				minutes		= parseInt((leftTime/60)%60),
				seconds		= parseInt(leftTime%60),
				timeArr		= [hours,minutes,seconds];
				
				format(timeArr);
	
				tipText = '<b>' + days + '</b>天<b>' + timeArr[0] + '</b>时<b>' + timeArr[1] + '</b>分<b>' + timeArr[2] + '</b>秒';
				timeBox.empty().append(tipText);
				if(leftTime <= 0){
					clearInterval(ticking);
					window.location.reload();
				}
			};
	
			var ticking = setInterval(function(){
				ProcessTime();
			},1000);
	
			var init = function(){
				ProcessTime();
				if(leftTime > 0){
					cdBox.show();
				}
			};
			
			init();
		};
	
		var testTime = function(){
			var now = new Date();
			//console.log(now.getTime())
			if($('#J_CountDown').length > 0 && $('#J_CountDown').attr('date')*1 > now.getTime()){
				countDown();
			} 
		}
		
		testTime();
		
	});
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-48676860-1'],['_setLocalGifPath', '/UA-48676860-1/__utm.gif'],['_setLocalServerMode']);
		_gaq.push(['_addOrganic','baidu','word']);
		_gaq.push(['_addOrganic','soso','w']);
		_gaq.push(['_addOrganic','youdao','q']);
		_gaq.push(['_addOrganic','sogou','query']);
		_gaq.push(['_addOrganic','so.360.cn','q']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);
		setTimeout(function() {
			var ga = document.createElement('script');
				ga.type = 'text/javascript'; 
				ga.async = true;
				ga.src = '/ga.js';
			var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
		}, 1000);
	</script>
	<script>
	    (function(i,s,ob,g,r,a,m)  
	    {  
	        i['AnalyticsObject']=r;   

	        i[r] = i[r] || function()  
	        {  
	            (i[r].ops = i[r].ops || []).push(arguments);  
	        }  
	          
	        a = s.createElement(ob);  
	        a.type = "text/javascript";  
	        m = s.getElementsByTagName(ob)[0];  
	        a.async=false; // 1 asynchronous  
	        a.src=g;  
	        m.parentNode.insertBefore(a,m);  
	    })(window, document, 'script', '//rev.da.netease.com/da.js?t='+ parseInt((new Date().getTime())/1000000), '_dapush');  
	    _dapush('create','DA-A888-A990E152BA01'); 
	    _dapush('page_view');
	</script>
	</body>
</html>
